.background {
  viewport-fill: blue;
}

#myTitle {
  font-size: 50;
  font-family: SevilleSharp-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 15%;
  fill: #00a1de;
}

#train_0 {
  font-size: 27;
  font-family: SevilleSharp-Book;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 30%;
  fill: white;
}

#train_1 {
  font-size: 27;
  font-family: SevilleSharp-Book;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 41%;
  fill: white;
}

#train_2 {
  font-size: 27;
  font-family: SevilleSharp-Book;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 52%;
  fill: white;
}

#train_3 {
  font-size: 27;
  font-family: SevilleSharp-Book;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 63%;
  fill: white;
}

#notification {
  font-size: 27;
  font-family: SevilleSharp-Book;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 77%;
  fill: white;
}

#long {
  font-size: 16;
  font-family: SevilleSharp-Book;
  text-length: 16;
  text-anchor: middle;
  x: 20%;
  y: 45%;
  fill: green;
}

#lat {
  font-size: 16;
  font-family: SevilleSharp-Book;
  text-length: 16;
  text-anchor: middle;
  x: 80%;
  y: 45%;
  fill: red;
}
